<?xml version="1.0" encoding="utf-8" ?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">
    <servlet>
        <!--定义springmvc的核心Servlet-->
        <servlet-name>springmvc</servlet-name>
        <!--用于拦截清求，创建对应的Controller 来处理-->
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <!--指明DispatcherServlet在初始化时要加载的应用程序配置文件-->
            <param-name> contextConfigLocation</param-name>
            <param-value>classpath:applicationContext.xml</param-value>
        </init-param>
        <!--在启动时对该Servlet进行加载，0表示优先级最高-->
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name> springmvc </servlet-name>
        <!--拦截本站的所有请求-->
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>